/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}
