.maintenanceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0; /* Adds some spacing above and below the image */
    box-sizing: border-box; /* Ensures padding is included in width calculation */
  }
  